variables:
  BASH_ENV: "/dev/null"  # Désactive le chargement des profils
stages:
  - build
  - deploy

build:
  stage: build
  script:
    - mvn clean install package
  tags:
   - linux
  artifacts:
    paths:
      - target/myapp-CICD.war
    expire_in: 1 hour
    when: always
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - target/

deploy:
  stage: deploy
  needs: ["build"]
  before_script:
    - sleep 5  # Délai de sécurité
  script:
    - until [ -f "target/myapp-CICD.war" ]; do sleep 1; done  # Attente active
    - sudo cp target/myapp-CICD.war  /opt/tomcat/webapps/
    
  tags:
   - linux